
<div class="container ">
    <div class="row pb-4">
        <div class="col-6">
            <h2>Kezeléseim</h2>
        </div>
        <div class="col-6 d-flex justify-content-end"><button class="btn btn-outline-dark" (click)="open()">Új kezelés felvétele</button></div>
    </div>
    <div class="row d-flex justify-content-center">
        <table class="table " style="width: 60%;">
            <tr class="align-middle">
                <th style="width: 20%;">Azonosító</th>
                <th style="width: 30%;">Megnevezés</th>
                <th style="width: 20%;">Státusz</th>
                <th style="width: 30%;"></th>
            </tr>
            <tr *ngFor="let item of treatments">
                <td class="p-1 align-middle" style="width: 20%; text-align: center;">{{item.id}}</td>
                <td class="p-1 align-middle" style="width: 30%;">{{item.name}}</td>
                <td *ngIf="item.isInactive" class="p-1 align-middle" style="width: 20%;">inaktív</td>
                <td *ngIf="!item.isInactive" class="p-1 align-middle" style="width: 20%;">aktív</td>
                <td class="p-1 align-middle"style="width: 30%;">
                    <i routerLink="./{{item.id}}" class="fas fa-list fa-2x pr-3"></i>
                    <i (click)="openEdit(item.id)" class="fa fa-edit fa-2x pr-2"></i>
                    <i (click)="deleteTreatment(item.id)" class="fa fa-trash fa-2x pr-2"></i>
                    <i (click)="changeStateOfTreatment(item.id)" class="fas fa-power-off fa-2x pr-1"></i>
                </td>
            </tr>
        </table>
    </div>
</div>