<div class="container">
    <form class="p-3" [formGroup]='addSpeciesForm' (ngSubmit)="addSpeciesForm.valid && addSpecies()" autocomplete="off">

        <div class="d-flex justify-content-between">
            <h2 class="mb-0">Új állatfaj felvitele</h2>
            <h2 class="mb-0"><i class="fab fa-earlybirds"></i></h2>
        </div>
        <hr>
        <mat-form-field class="full-width">
            <mat-label>Állatfaj neve:</mat-label>
            <input matInput formControlName='name' required>
            <mat-error *ngIf="addSpeciesForm.get('name').invalid">A mező nem lehet üres.</mat-error>
        </mat-form-field>

        <div class="form-group text-center">
            <button [disabled]='!addSpeciesForm.valid' class="btn btn-success mr-2" type="submit">Rögzít</button>
        </div>
    </form>
</div>