<div class="container">
    <form class="p-3" [formGroup]='editTreatmentForm' (ngSubmit)="editTreatmentForm.valid && updateTreatment()"
        autocomplete="off">

        <div class="d-flex justify-content-between">
            <h2 class="mb-0">Kezelés átnevezése</h2>
            <h2 class="mb-0"><i class="fas fa-star-of-life"></i></h2>
        </div>
        <hr>
        <mat-form-field class="full-width">
            <mat-label>Kezelés megnevezése</mat-label>
            <input matInput formControlName='name' required>
            <mat-error *ngIf="editTreatmentForm.get('name').invalid">A mező nem lehet üres.</mat-error>
        </mat-form-field>
        <error-message [validationErrors]="validationErrors" [tag]="'name'"></error-message>

        <div class="form-group text-center">
            <button [disabled]='!editTreatmentForm.valid' class="btn btn-success mr-2" type="submit">Mentés</button>
        </div>
    </form>
</div>