
<div class="container ">
    <div class="row pb-4">
        <div class="col-6">
            <h2>Kezelés idősávjai</h2>
        </div>
        <div class="col-6 d-flex justify-content-end"><button class="btn btn-outline-dark" (click)="open()">Új idősáv felvétele</button></div>
    </div>
    <div class="row d-flex justify-content-center">
        <table class="table " style="width: 70%;">
            <tr>
                <th style="width: 10%;">Azonosító</th>
                <th style="width: 13%;">Nap</th>
                <th style="width: 15%;">Elérhetőség</th>
                <th style="width: 15%;">Kezeléshossz</th>
                <th style="width: 15%;">Státusz</th>
                <th style="width: 30%;"></th>
            </tr>
            <tr *ngFor="let item of treatmentTimes">
                <td class="pl-3 pr-3 pt-1 align-middle" style="width: 10%;">{{item.id}}</td>
                <td class="pt-1 align-middle" style="width: 13%;">{{days[item.dayOfWeek]}}</td>
                <td class="pt-1 align-middle" style="width: 15%;">{{item.startHour | number:'2.0'}}:{{item.startMin | number:'2.0'}} - {{item.endHour | number:'2.0'}}:{{item.endMin | number:'2.0'}}</td>
                <td class="pt-1 align-middle" style="width: 15%;">{{item.duration}} perc</td>
                <td *ngIf="item.isInactive" class="pt-1 align-middle" style="width: 15%;">inaktív</td>
                <td *ngIf="!item.isInactive" class="pt-1 align-middle" style="width: 15%;">aktív</td>
                <td class="pt-1 align-middle"style="width: 30%;">
                    <i (click)="openEdit(item.id)" class="fa fa-edit fa-2x pr-2"></i>
                    <i (click)="deleteTreatmentTime(item.id)" class="fa fa-trash fa-2x pr-2"></i>
                    <i (click)="changeStateOfTreatmentTime(item.id)" class="fas fa-power-off fa-2x pr-1"></i>
                </td>
            </tr>
        </table>
    </div>
</div>