<div class="container" *ngIf="user">

    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-3">
                <img *ngIf="user.photoPath" class="img-fluid p-2" src={{user.photoPath}} alt="" style="width: 250px;">
                <img *ngIf="!user.photoPath" class="img-fluid p-2" src="Images\Users\default.jpg" alt=""
                    style="width: 250px;">
                <div class="ml-4 mb-2 d-flex justify-content-center" style="width: 80%;">
                    <button mat-raised-button color="primary" (click)="openEdit()">
                        <mat-icon> insert_photo</mat-icon>
                    </button>
                    <button mat-raised-button color="primary" class="ml-1" (click)="deletePhoto()"
                        [disabled]="!user.photoPath">
                        <mat-icon> delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <h2 class="pt-4 mb-1"><strong>Bejelentkezve, mint:</strong></h2>
                    <h3 class="pl-3 m-0">{{user.realName}}</h3>
                    <h3 class="pl-3 m-0">gazdi</h3>
                </div>
            </div>
            <div class="col-md-5">
                <mat-form-field appearance="outline" style="width: 90%;" class="mt-4">
                    <mat-label>Jegyzeteim (böngésző)</mat-label>
                    <textarea matInput rows="6" cols="75" placeholder="Jegyzeteim..."
                        [formControl]="notesFormControl"></textarea>
                    <div class="d-flex justify-content-end">
                        <button mat-flat-button color="primary" class="mt-3" (click)="saveNotes()">Frissítés</button>
                    </div>
                </mat-form-field>

            </div>
        </div>
    </div>

    <div>
        <h2><strong>BunnyV online időpontfoglalási és kórlap kezelő rendszer útmutató:</strong></h2>

        <p>A rendszerben lehetőséged van <a routerLink="/animals/myanimals">állataid rögzítésére</a>, adataik
            szerkesztésére. Korábbi oltásaikat is rögzíthetsz, hogy orvosaink azokról informálódhassanak, ezáltal
            biztosítva kedvenced számára a legjobb kezelést. </p>


        <div class="row mb-4">
            <div class="col-6">
                <p>Amennyiben időpontra lenne szükséged, akkor <a routerLink="/appointment">ITT</a> foglalhatsz. A
                    foglalás
                    menete:</p>
                <ol>
                    <li>Orvos választása a legördülő menüből.</li>
                    <li>Kezelés választása az orvos által kínált lehetőségek közül</li>
                    <li>Naptári nap kiválasztása, majd adott napon szabad időpont választása</li>
                    <li>Állat kiválasztása időponthoz (opcionális)</li>
                    <li>Kiválaszottt adatok ellenőrzése, véglegesítés</li>
                    <li>Gratulálunk, sikeres időpontfoglalás</li>
                </ol>

                <p>A már lefoglalt időpontjaid az <a routerLink="/appointment/my-appointments">Időpontjaim</a> oldalon
                    érheted el.</p>

                <p>Már megvolt a vizsgálat? Nem kaptál kórlapot? A fák védelme fontos számunkra, ezért mindig
                    digitális,
                    online elérhető kórlapot adunk.</p>
                <p>Így hát a kapott kórlapot <a routerLink="/records/my-records">ITT</a>, vagy állataid kórlapjainál
                    kell keresned!</p>

                <p>Tipp: a kórlapokból PDF fájlt készíthetsz, amit kinyomtathatsz, de gondolj a fákra is.</p>

            </div>
            <div class="col-6 border-top-0 border-bottom-0 border-right-0 border border-dark">
                <div>
                    <p>Mindemellett lehetőségeid van állataid archiválására, profilképük feltöltésére.</p>
                    <p>Profilképet saját magadnak is beállíthatsz, melyet egy beállítás előz meg.</p>
                    <p>A Profilom fülön lehetőséged van megadni alapvető adataid, ami a lakcím és a telefonszám.
                        Ugyanitt lehetőséged van megváltoztatásukra.<br>
                        Az e-mail címed is megváltoztatható, viszont ahhoz az új címet is meg kell erősíteni.</p>

                    <p>Ezen az oldalon lehetőséged van még jegyzetek rögzítésére, csak ne felejtsd el, hogy a jegyzet az
                        adott böngésződre érvényes, máshol nem fogod tudni megnézni.</p>

                    <p>Amennyiben kérdésed merülne fel, nyugodtan lépj velünk kapcsolatba e-mailen, vagy akár telefonon
                        keresztül.</p>

                    <div class="d-flex justify-content-end">
                        <p class="align-self-end mt-4">BunnyV csapata</p>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>