@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "E-mail megerősítése";
}

<h1>@ViewData["Title"]</h1>
<h2>Az e-mail címed sikeresen megerősítetted. Most már be tudsz jelentkezni a fiókodba.</h2>