@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Elfelejtett jelszó";
}

<h1>@ViewData["Title"]</h1>
<p>
    Egy e-mailt küldtünk a megadott címre, ami tartalmazza a jelszó megváltoztatásához szükséges információkat. Ellenőrizd a leveleid.
</p>

