@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Elfelejtett jelszó frissítése";
}

<h1>@ViewData["Title"]</h1>
<p>
    A jelszó frissítése megtörtént. Kattints <a asp-page="./Login">ide</a> a bejelentkezéshez.
</p>
